.promoSection {
    position: relative;
    height: 100vh;
};

.promoImage {
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: contain;
    object-position: 50% 0;
    z-index: -1;
};

.promoOrnament {
    width: 85%;
    position: absolute;
    bottom: 2%;
    left: 5%;
    z-index: -2;
}

.contentGroup {
    margin: 24.5vw 0 0 13.5vw;

    .h1 {
        font-size: 3.2vw;
        letter-spacing: 5px;
    };

    .buttonGroup {
        max-width: 518px;
        flex-wrap: wrap;

        button{
            margin: 0 5px 12px 5px;
        }
    };
};




