.decorativeBackground {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    z-index: -1;
}

.decorativeElement{
    height: 100%;
    width: 144px;
}

.decorativeLeftElement {
    left: 0;
}

.decorativeRightElement {
    right: 0;
}