:root{
    --background-gradient: linear-gradient(90deg, #DF2D4F, #247DA5);
    --background-gradient-transparent: linear-gradient(90deg, rgba(223, 45, 79, 0.8), rgba(36, 125, 165, 0.8));

    --color-palette-main: #6DAFC6;
    --color-palette-secondary: #D33759;
    --color-palette-active: #247DA5;
    --color-palette-passive: #FFFFFF;
    --color-palette-submit: #F9DB7A;
}