:root{
    --background-gradient: linear-gradient(90deg, #DF2D4F, #247DA5);

    --color-palette-main: #6DAFC6;
    --color-palette-secondary: #D33759;
    --color-palette-active: #247DA5;
    --color-palette-passive: #FFFFFF;
    --color-palette-submit: #F9DB7A;
}