.decorativeFrame{
    position: relative;
    width: 100%;
    height: 760px;
    padding: 0 40px;
    border-radius: 22px;
};

.decorativeFrameOuter{
	background-color: var(--color-palette-submit);
};

.decorativeFrameMiddle{
    background-color: var(--color-palette-secondary);
};

.decorativeFrameInner{
    position: relative;
    padding: 24px 40px;
    background-color: var(--color-palette-active);
};

.iFrameOuter {
    position: relative;
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 24px;
    box-shadow: 4px 12px 30px 4px rgba(109, 175, 198, 0.30);
};

.iFrameInner{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}