.text {
    color: var(--secondary-color);
    line-height: 1.2;
    white-space: break-spaces;
}

.white{
    color: var(--white);
};

.lightBlue{
    color: var(--lightBlue);
};

.darkBlue{
    color: var(--darkBlue);
}

.red{
    color: var(--color-palette-secondary);
}

// ______
.error {
    .title {
        font: var(--font-l);
        color: var(--red-light);
    }

    .text {
        font: var(--font-m);
        color: var(--red-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}


