.text {
    color: var(--secondary-color);
    line-height: 1.2;
}

.white{
    color: var(--white);
};

.lightBlue{
    color: var(--lightBlue);
};

.darkBlue{
    color: var(--darkBlue);
}

// ______
.error {
    .title {
        font: var(--font-l);
        color: var(--red-light);
    }

    .text {
        font: var(--font-m);
        color: var(--red-dark);
    }
}

.inverted {
    .title {
        color: var(--inverted-primary-color);
    }

    .text {
        color: var(--inverted-secondary-color);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_m {
    .title {
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);
    }

    .text {
        font-size: var(--font-size-m);
        line-height: var(--font-line-m);
    }
}

.size_l {
    .title {
        font-size: var(--font-size-xl);
        line-height: var(--font-line-xl);
    }

    .text {
        font-size: var(--font-size-l);
        line-height: var(--font-line-l);
    }
}
