.text {
    line-height: 1.2;
    white-space: break-spaces;
}

.white{
    color: var(--white);
};

.lightBlue{
    color: var(--lightBlue);
};

.darkBlue{
    color: var(--darkBlue);
}

.red{
    color: var(--color-palette-secondary);
}


.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}


