.mainContentWrapper {
    position: relative;
    background: url("../assets/common/decorativeBackground/stars-without-stick.svg") repeat;
    padding: 0 192px;
    overflow: hidden;
};

.background{
    width: 100%;
    position: absolute;
}

.starsDecoration{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .starsDecorationItem{
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 1440px){

    .mainContentWrapper {
        margin: 0 50px;
    };

}