* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        flex: 1;
    }
}

:root {

    --fullOpaque: rgba(255, 255, 255, 0);
    --blackSemiTransperent: rgba(0, 0, 0, 0.5);
    --whiteTransperent25: rgba(255, 255, 255, 0.25);
    --white: #FFFFFF;
    --whiteOpaque95: rgba(255, 255, 255, 0.95);
    --peach: #E99392;
    --darkBlue: #33539B;
    --lightBlue: #247DA5;
    --veryLightBlue: #92BED2;
    --veryDarkBlue: #2A3A59;
    --lightPurple: #AEB4DD;

    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        //background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        border-radius: 25px;
    }
    .swiper-pagination {
        position: absolute;
        padding: 0 20px;
        top: 20px;
        right: 10px;
        width: 100% !important;
        left: auto !important;
        transform: translateY(-8px);
    }
    .swiper-pagination-bullet {
        padding: 10px 10px;
        width: 10px;
        height: 10px;
        text-align: center;
        line-height: 30px;
        font-size: 12px;
        color:#000;
        opacity: 1;
        border-radius: 50px;
        border: 1px solid #007aff;
        background: var(--white);
    }
    .swiper-pagination-bullets-dynamic {
        padding: 10px 10px;
        text-align: center;
        line-height: 30px;
        transform: none;
        left: unset;

    }
    .swiper-pagination-bullet-active {
        color: var(--white);
        border: 1px solid #007aff;
        background: #007aff;
    }

    //navigation

    .swiper-button-next{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: var(--white);
        border: 1px solid #007aff;
        transition: 0.3s;
        transform: translate(0, -20px);

        &:after{
            width: 100%;
            height: 100%;
            font-size: 36px;
            transform: translate(18px, 6px);
        }

        &:hover{
            transform: scale(1.15) translate(0, -20px);
        }
    }

    .swiper-button-prev{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid #007aff;
        transition: 0.3s;
        transform: translate(0, -20px);
        background-color: var(--white);

        &:after{
            width: 100%;
            height: 100%;
            font-size: 36px;
            transform: translate(12px, 6px);
        }

        &:hover{
            transform: scale(1.15) translate(0, -20px);
        }
    }

}