:root {

    --fullOpaque: rgba(255, 255, 255, 0);
    --white: #FFFFFF;
    --whiteOpaque95: rgba(255, 255, 255, 0.95);
    --peach: #E99392;
    --darkBlue: #33539B;
    --lightBlue: #247DA5;
    --veryLightBlue: #92BED2;
    --veryDarkBlue: #2A3A59;
    --lightPurple: #AEB4DD;

}