

.swiper{
    height: 580px;
    padding: 20px 28px;
    --swiper-pagination-color: #FFFFFF;
    --swiper-pagination-bullet-size: 16px;
    .swiper-pagination{
        margin-top: 20px;
    }
}

.swiperSlide {
    width: fit-content;
}