.slideCard {
    width: 300px;
    min-height: 524px;
    overflow: hidden;
    border-radius: 20px;
}

.infoContent {
    flex: 1;
    z-index: 2;
    padding: 24px 20px 28px;
    background-color: var(--white);
}

.title {
    margin: 20px 0 8px;
    color: var(--veryDarkBlue);
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;
}

.description {
    font-size: 14px;
    font-weight: 400;
    color: var(--lightBlue);
    user-select: none;
}

.cardButton {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: unset;
    color: var(--white);
    z-index: 1;
}